# Core Web Framework
streamlit==1.36.0

# RAG and AI Components
openai==1.63.2
langchain-openai==0.3.6
langchain-community==0.3.17
langchain-core==0.3.36
google-cloud-storage==2.10.0
faiss-cpu==1.10.0

# Utils and Dependencies
tiktoken==0.9.0
protobuf==4.25.3
python-dotenv==1.0.1
